body{
    width: 100%;
    max-width: 1100px;
    background: #cecfcc;
    margin: 0 auto;
    font-family: Calibri;
}
main,header {
    background: #6e854f50;
}
.title {
    text-align: center;
}
p {
    text-indent: 12px;
    margin-left: 20px;
    margin-right: 20px;
}
section h2 {
    padding: 12px;
    text-decoration: underline;
}
.summary {
    text-align: right;
    font-size: 20px;
    margin-right: 100px;
}
.nav li {
    list-style: none;
    text-align: center;
    vertical-align: middle;
}
nav {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}
img {
    float: right;
    width: 50%;
    height: 50%;
    margin-right: 10px;
}
footer {
    margin: 50px;
    text-align: right;
}
.background-title, .background-p, .image1 {
    clear: left;
}
.sum-title {
    text-align: right;
    text-decoration: underline;
    margin-right: 100px;
}

.vid {
    text-align: right;
    margin-right: 60px;
    margin-bottom:10px;
    float: right;
}